<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color: lightgray;
        }

        form {
            width: 300px;
            height: 300px;
            border: 10px solid black;
            background-color: lightgoldenrodyellow;
            margin: auto;
            margin-top: 200px;
        }

        input {
            width: 250px;
            height: 30px;
            margin-top: 30px;
            margin-left: 20px;
        }

        #myInpuThree {
            background: lightgreen;
        }
        a{
            display: inline-block;
            margin-left: 20px;
            margin-top: 20px;
        }

    </style>
</head>
<body>
<form action="loginSuccess" method="get" name="login">
    <input type="text" id="myInputOne" placeholder="输入账号" name="username">
    <br>
    <input type="text" id="myInputTwo" placeholder="请输入密码" name="possword">
    <br>
    <a href="#">修改密码?</a>
    <input type="submit" value="登录" id="myInpuThree">

</form>
</body>
</html>